.about {
  padding: 10px 20px 49px 20px;
}

.about__list {
  margin: 0;
  margin-top: 42px;
  padding: 0;
  list-style: none;
}

.about__list-item {
  padding-bottom: 24px;
}

.about__list-item-text {
  margin: 0;
  width: 199px;
  line-height: 18px;
  color: $color-dark-grey;
}

@media (min-width: $tablet-width) {
  .about {
    padding: 0 30px 47px;
  }

  .about__list {
    display: grid;
    grid-template-columns: repeat(2, 249px);
    grid-template-rows: repeat(2, minmax(280px, 1fr));
    gap: 37px 135px;
    margin-top: 32px;
  }

  .about__list-item {
    position: relative;
    padding-bottom: 0;
  }

  .about__list-item-text {
    width: 223px;
    padding-top: 151px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .about {
    padding: 0 110px 26px;
  }

  .about__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(280px, 1fr);
    column-gap: 75px;
  }

  .about__list-item-text {
    width: 230px;
    padding-top: 151px;
  }
}
