.about {
  padding: 10px 20px 49px 20px;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    padding: 0 30px 47px;
    border-bottom: 1px solid $color-grey-600;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 26px;
    border-bottom: none;
  }
}

.about__list {
  margin: 0;
  margin-top: 42px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 249px);
    grid-template-rows: repeat(2, minmax(280px, 1fr));
    gap: 37px 135px;
    margin-top: 32px;
    counter-reset: about;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(280px, 1fr);
    column-gap: 75px;
  }
}

.about__list-item {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 24px;
  padding-left: 80px;

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    left: 0;
    background-color: $color-green;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--leaf::before {
    background-image: url("../img/icon/icon-leaf.svg");
  }

  &--tub::before {
    background-image: url("../img/icon/icon-tub.svg");
  }

  &--eat::before {
    background-image: url("../img/icon/icon-eat.svg");
  }

  &--alarm::before {
    background-image: url("../img/icon/icon-alarm.svg");
  }

  @media (min-width: $tablet-width) {
    padding: 151px 0 57px;
    counter-increment: about;

    &::before {
      width: 80px;
      height: 80px;
      top: 40px;
    }

    &::after {
      position: absolute;
      top: 0;
      left: 113px;
      z-index: -1;
      margin: 0;
      content: counter(about);
      font-family: inherit;
      font-size: 280px;
      line-height: 280px;
      color: $color-grey-400;
    }
  }
}

.about__list-item-text {
  margin: 0;
  width: 199px;
  line-height: 18px;
  color: $color-grey;

  @media (min-width: $tablet-width) {
    width: 223px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
  }
}
