.additional-products {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.additional-products__title {
  position: relative;
  margin: 24px 0 35px;
  line-height: 24px;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 2px;
    background-color: $color-green;
  }

  @media (min-width: $tablet-width) {
    margin: 28px 0 80px;

    &::before {
      top: 22px;
    }
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    width: 100%;
    margin-top: 72px;
  }
}

.additional-products__title-wrapper {
  display: flex;
  box-sizing: border-box;
  width: 320px;
  max-width: 1220px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0;
  }
}

.additional-products__title-text {
  display: inline-block;
  padding: 0 20px;
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    padding: 0 37px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 40px;
    margin-left: -40px;
  }
}

.additional-products__wrapper {
  box-sizing: border-box;
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    padding: 0;
  }
}

.additional-products__list {
  margin: 0;
  padding: 0 0 20px;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    min-height: 290px;
    padding: 0 0 86px;
    margin-right: 80px;
  }
}

.additional-products__item {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 19px;
  border-bottom: 1px solid $color-grey-900;

  &:first-child {
    border-top: 1px solid $color-grey-900;
  }

  @media (min-width: $tablet-width) {
    padding: 27px 38px;
    align-items: center;
    border-left: 1px solid $color-grey-900;
    border-right: 1px solid $color-grey-900;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 324px 244px 82px auto;
    justify-content: start;
    align-items: baseline;
    min-height: 72px;
    padding: 0;
    padding-top: 17px;
    border-left: none;
    border-right: none;
  }
}

.additional-products__subtitle {
  width: 100%;
  margin: 0;
  padding-bottom: 13px;
  line-height: 16px;
  color: $color-black-800;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-bottom: 24px;
    width: auto;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.additional-products__description,
.additional-products__price {
  padding-bottom: 15px;
  line-height: 14px;
  color: $color-grey;

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.additional-products__price {
  @media (min-width: $tablet-width) {
    width: 93px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    padding-right: 38px;
    text-align: left;
  }
}

.additional-products__description {
  @media (min-width: $tablet-width) {
    flex-grow: 1;
    line-height: 14px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.additional-products__button {
  width: 100%;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
  }
}
