.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 40px;
  font-family: $font-oswald;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-white;
  background-color: $color-green;

  &:hover {
    background-color: $color-green-hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--grey {
    color: $color-grey;
    background-color: $color-grey-400;

    &:hover {
      background-color: $color-grey-hover;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
