.card-product {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "img title"
    "img desc"
    "button button";
  padding: 19px 20px 25px;
  list-style: none;
  border-bottom: 1px solid $color-grey-500;

  @media (min-width: $tablet-width) {
    grid-template-columns: none;
    grid-template-areas:
      "img"
      "title"
      "desc"
      "button";
    padding: 8px 36px 39px;
    background: linear-gradient(to bottom, $color-white 81px, $color-grey-400 81px 100%);
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0 36px 40px;
  }
}

.card-product__image-link {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: img;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 168px;
    height: 200px;
    align-items: flex-end;
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 46px;
  }
}

.card-product__image {
  @media (min-width: $tablet-width) {
    width: 100%;
    height: auto;
  }
}

.card-product__title-link {
  padding-bottom: 14px;
  grid-area: title;
  width: 75px;

  @media (min-width: $tablet-width) {
    width: 158px;
    margin: 0 auto;
    padding-bottom: 13px;
    text-align: center;
  }
}

.card-product__title {
  line-height: 20px;
  color: $color-black-800;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    line-height: 21px;
  }
}

.card-product__description {
  grid-area: desc;
  margin-bottom: 22px;
  line-height: 16px;
  color: $color-grey;

  @media (min-width: $tablet-width) {
    grid-template-columns: 126px 126px;
    margin-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 86px 86px;
  }
}

.card-product__description-wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    padding: 7px 0 9px;
    border-bottom: 1px solid $color-grey-900;
  }
}

.card-product__description-definition {
  margin: 0;
  text-align: right;
}

.card-product__button {
  grid-area: button;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    justify-self: center;
  }
}

.card-product--add {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 78px;
  background-image: url("../img/icon/icon-plus.svg");
  background-repeat: no-repeat;
  background-position: center 25px;

  @media (min-width: $tablet-width) {
    justify-content: center;
    padding-top: 161px;
    margin-top: 82px;
    text-align: center;
    background-size: 60px;
    background-position-y: 51px;
    border: 2px solid $color-grey-400;
  }
}

.card-product--add .card-product__title {
  padding-bottom: 8px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 23px;
    width: 134px;
    line-height: 22px;
  }
}

.card-product--add .card-product__text {
  padding-bottom: 21px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    padding-bottom: 86px;
    width: 167px;
    line-height: 18px;
  }
}
