.compare {
  display: flex;
  justify-content: center;
  width: 100%;
}

.compare__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
  min-height: 280px;

  @media (min-width: $tablet-width) {
    width: 592px;
    min-height: 576px;
    margin-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 65px;
  }
}

.compare__pictures-container {
  position: relative;
  width: 100%;
  height: 232px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    min-height: 511px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 21px;
  }
}

.compare__picture {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 100%;

  &--before {
    z-index: 1;
    clip-path: inset(0 0 0 0);
  }

  &--after {
    z-index: 0;
    clip-path: inset(0 100% 0 0);
  }

  @media (min-width: $tablet-width) {
    min-height: 511px;
    margin-bottom: 21px;

    &--before {
      z-index: 1;
      clip-path: inset(0 50% 0 0);
    }

    &--after {
      z-index: 0;
      clip-path: inset(0 0 0 50%);
    }
  }
}

.compare__picture-img {
  @media (min-width: $tablet-width) {
    margin-top: 6px;
    margin-left: 57px;
  }
}

.compare__controls-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 210px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.compare__control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49px;
  min-height: 30px;
  padding: 0;
  font-family: $font-oswald;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    align-items: flex-end;
    width: 70px;
    min-height: 40px;
  }

  @media (min-width: $desktop-width) {
    min-height: 30px;
  }
}

.compare__control-text {
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      border-bottom: 1px dotted $color-black;
      opacity: 24%;
    }

    &:hover::after {
      border-bottom: 1px solid $color-black;
      opacity: 40%;
    }

    &:active::after {
      border-bottom: none;
    }
  }
}

.compare__control-slider {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 86px;
  height: 14px;
  padding: 0 5px;
  background-color: $color-white;
  border-radius: 6px;
  border: 1px solid $color-grey-900;

  &--before {
    justify-content: flex-start;
  }

  &--after {
    justify-content: flex-end;
  }

  @media (min-width: $tablet-width) {
    width: 426px;
    height: 40px;
    padding: 0;
    border: none;
    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      top: 23px;
      width: 100%;
      height: 6px;
      border-radius: 6px;
      background-color: #dcdcdc;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      top: 18px;
    }
  }
}

.compare__control-slider-mark {
  box-sizing: border-box;
  width: 36px;
  height: 6px;
  border-radius: 6px;
  background-color: $color-green;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 10px;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid $color-grey-900;
    background-color: $color-white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
    transform: translateX(-50%);

    @media (min-width: $desktop-width) {
      top: 5px;
    }

    &:hover {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
    }

    &:active {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
      border: 1px solid $color-green;
    }

    &::before {
      content: "";
      position: relative;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $color-green;
    }
  }
}
