.container {
  width: 320px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}
