.input-group {
  display: flex;
  align-items: center;
  font-family: $font-oswald;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-black-800;

  &--grey {
    color: $color-grey;
  }
}

.input-group__label {
  flex-shrink: 0;
  padding-right: 12px;
  line-height: 18px;
}

.input-group__input-text {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 45px;
  border-radius: 0;
  border: 1px solid $color-grey-600;

  @media (min-width: $tablet-width) {
    height: 52px;
  }
}

.input-group__input-text,
.input-group__input-text::placeholder {
  font: inherit;
  line-height: inherit;
  text-transform: inherit;
  color: inherit;
}

.input-group__input-radio {
  min-height: 30px;
  margin: 0;
  margin-right: 15px;

  @media (min-width: $tablet-width) {
    min-height: 40px;
  }
}

.input-group__input-checkbox {
  min-height: 30px;
  margin: 0;
  margin-right: 18px;

  @media (min-width: $tablet-width) {
    min-height: 40px;
  }
}
