.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo__text {
  margin-left: auto;
  margin-right: 65px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: 12px;
  }
}
