.main-footer {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.main-footer__cooperation {
  box-sizing: border-box;
  display: flex;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 50%;
    width: 1220px;
    transform: translateX(-50%);
    z-index: 1;
  }
}

.main-footer__cooperation-wrapper {
  box-sizing: border-box;
  display: flex;
  width: 320px;
  margin: 0 auto;
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    width: 768px;
    padding: 60px 70px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 87px;
    width: 565px;
    padding: 59px 80px;
    margin: 0;
    background-color: $color-white;
  }
}

.main-footer__cooperation--bg-grey {
  background-color: $color-grey-400;

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.main-footer__title {
  width: 50%;
  margin: 0;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 163px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    line-height: 26px;
  }
}

.main-footer__address {
  width: 50%;
  line-height: 20px;
  color: $color-grey;
  font-style: normal;

  @media (min-width: $tablet-width) {
    width: 163px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.main-footer__address-city {
  @media (min-width: $tablet-width) {
    display: inline-block;
    padding-top: 20px;
  }
}

.main-footer__map {
  position: relative;
  min-width: 320px;
  height: 362px;
  background-image: url("../img/map-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::after {
    position: absolute;
    content: "";
    width: 57px;
    height: 53px;
    left: 134px;
    top: 139px;
    background-image: url("../img/map-pin-mobile.png");
  }

  @media (min-width: $tablet-width) {
    min-width: 768px;
    height: 400px;
    background-image: url("../img/map-tablet.jpg");

    &::after {
      width: 113px;
      height: 106px;
      left: 333px;
      top: 146px;
      background-image: url("../img/map-pin-tablet-desktop.png");
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 1440px;
    background-image: url("../img/map-desktop.jpg");

    &::after {
      left: 947px;
      top: 131px;
    }
  }
}

.main-footer__map iframe {
  display: block;
  border: none;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 100%;
  }
}
