.programs {
  padding: 10px 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 71px;
  }
}

.programs__list {
  display: grid;
  row-gap: 10px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    row-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}

.programs__card {
  padding: 30px 33px 18px 22px;
  background-color: $color-grey-400;
  list-style: none;

  @media (min-width: $tablet-width) {
    padding: 77px 316px 53px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 51px 59px;
  }
}

.programs__card-title {
  padding-bottom: 29px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-bottom: 24px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 73px;
  }
}

.programs__card-text {
  box-sizing: border-box;
  margin: 0;
  padding-bottom: 23px;
  font-family: $font-arial;
  line-height: 18px;
  color: $color-grey;
  border-bottom: 1px solid $color-grey-700;

  @media (min-width: $tablet-width) {
    padding-bottom: 52px;
    color: $color-black;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 27px;
  }
}

.programs__card-link {
  position: relative;
  display: inline-block;
  margin-top: 19px;
  padding-right: 51px;
  line-height: 16px;
  text-transform: uppercase;
  background-image: url("../img/icon/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 8px center;

  @media (min-width: $tablet-width) {
    line-height: 30px;
    padding-right: 76px;
  }
}
