.sub-font {
  margin: 0;
  font-family: $font-arial;
  font-weight: 400;
  color: inherit;
  line-height: 1;

  &--l {
    font-size: 16px;
  }

  &--m {
    font-size: 14px;
  }

  &--s {
    font-size: 12px;
  }
}

@media (min-width: $tablet-width) {
  .sub-font {
    margin: 0;
    font-weight: 400;
    color: inherit;
    line-height: 1;

    &--l {
      font-size: 16px;
    }

    &--m {
      font-size: 16px;
    }

    &--s {
      font-size: 12px;
    }
  }
}
