.title-line {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 26px;
  text-transform: none;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 2px;
    background-color: $color-green;
  }

  @media (min-width: $tablet-width) {
    br {
      display: none;
    }

    &::before {
      top: 22px;
    }
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    width: 100%;
  }
}

.title-line__wrapper {
  display: flex;
  box-sizing: border-box;
  width: 320px;
  max-width: 1220px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0;
  }
}

.title-line__text {
  display: inline-block;
  padding: 0 20px;
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    padding: 0 37px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 40px;
    margin-left: -40px;
  }
}
