@mixin main-font() {
  margin: 0;
  font-weight: 400;
  color: inherit;
  line-height: 1;
}

@mixin main-font-l() {
  @include main-font();
  font-size: 36px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
  }
}

@mixin main-font-m() {
  @include main-font();
  font-size: 24px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
  }
}
