$font-oswald: "Oswald", "Arial", sans-serif;
$font-arial: "Arial", sans-serif;
$color-white: #ffffff;
$color-black: #000000;
$color-green: #68b738;
$color-grey: #f2f2f2;
$color-dark-grey: #444444;
$color-dark-grey-2: #222222;
