$font-oswald: "Oswald", "Arial", sans-serif;
$font-arial: "Arial", sans-serif;
$color-white: #ffffff;
$color-black: #000000;
$color-black-900: #111111;
$color-black-800: #222222;
$color-grey: #444444;
$color-grey-900: #cdcdcd;
$color-grey-800: #d3d3d3;
$color-grey-700: #d9d9d9;
$color-grey-600: #e7e7e7;
$color-grey-500: #eaeaea;
$color-grey-400: #f2f2f2;
$color-grey-hover: #ebebeb;
$color-green: #68b738;
$color-green-hover: #5eaa2f;
$color-error: #ff8282;
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
